footer {
    @include header-footer;
    border-top: 1px solid $dark-orange;
    padding: 0.75rem;
    margin-top: auto;

    > section {
        display: grid;
        gap: 2rem;

        > section {
            padding: 0.75rem;
            place-self: center start;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            > a {
                font-size: 1.25rem;
                text-decoration: none;
                text-underline-offset: 2px;
                color: $dark-orange;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    > p {
        font-size: 0.75rem;
        font-weight: 100;
        text-align: center;
        color: $main-light;
        margin-top: 1rem;
    }
}

@include screen-425 {
    footer {
        > section {
            grid-template-columns: repeat(2, 1fr);

            > section {
                padding: 0 0.75rem;
                place-self: center start;
                flex-flow: row wrap;
                align-items: center;
            }
        }

        > p {
            margin-top: 1.5rem;
        }
    }
}

@include screen-768 {
    footer {
        > section {
            > section {
                &:last-child {
                    place-self: center end;
                }
            }
        }
    }
}
