header {
    // Entity image and navigation's hard coded top value in _Entity.scss and _HeaderNav.scss depends on the header height. (Entity is for screens wider than 768px, and HeaderNav for screen wider than 425px)
    @include header-footer;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $dark-orange;
    padding: 0.75rem;
    z-index: 100;

    > section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        overflow-x: auto;

        > a {
            font-size: 1.35rem;
            font-weight: 700;
            letter-spacing: -1px;
            color: $dark-orange;
            text-decoration: none;
            white-space: nowrap;
        }

        > div {
            display: flex;
            gap: 0.5rem;

            > button {
                width: 2rem;
                height: 2rem;
                background-color: $dark-orange;
                border: none;
                border-radius: 0.4rem;
                padding: 0.5rem;
                overflow: hidden;
                cursor: pointer;
            }

            > button:nth-child(1) {
                font-size: 0;
                display: grid;
                place-items: center;

                > img {
                    width: 100%;
                    height: 100%;
                    aspect-ratio: 1;
                }
            }

            > button:nth-child(2) {
                > div {
                    background-color: $main-light;
                    border-radius: 0.5rem;
                    width: 100%;
                    height: 15%;
                    aspect-ratio: 1;

                    &:nth-child(2) {
                        margin: 15% 0;
                    }
                }
            }
        }
    }
}

@include screen-375 {
    header {
        > section {
            > a {
                font-size: 1.5rem;
            }

            > div {
                button {
                    width: 2.2rem;
                    height: 2.2rem;
                }
            }
        }
    }
}

@include screen-425 {
    header {
        padding: 1rem;

        > section {
            > a {
                font-size: 1.75rem;
            }

            > div {
                button {
                    border-radius: 0.5rem;
                    width: 2.4rem;
                    height: 2.4rem;
                }
            }
        }
    }
}

@include screen-768 {
    header > section {
        > a {
            font-size: 2rem;
        }

        > div {
            button {
                border-radius: 0.6rem;
                width: 2.6rem;
                height: 2.6rem;
            }
        }
    }
}
