header.show-nav > nav {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition: all 150ms, height 0ms;
}

header > nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100lvh;
    background-color: hsla(0, 0%, 2%, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-50px);
    overflow-x: hidden;

    &.show-discover {
        > div {
            > button:first-child {
                visibility: visible;
                opacity: 1;
            }
        }

        > .header-nav-default {
            visibility: hidden;
            opacity: 0;
            transform: translateX(-50px);
        }

        > .header-nav-discover {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }

    > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 1rem;
        display: flex;
        justify-content: space-between;

        > button {
            font-size: 0;
            padding: 0;
            background: none;

            &:first-child {
                transition: all 100ms;
                visibility: hidden;
                opacity: 0;
            }
        }
    }

    > section {
        position: absolute;
        padding: 0.75rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        transition: all 150ms;

        > a,
        > button {
            font-size: 1.5rem;
            text-align: center;
            text-decoration: none;
            color: $dark-orange;
            padding: 0;
            background: none;
        }

        > p {
            color: $main-light;
            display: none;
        }
    }

    .header-nav-discover {
        visibility: hidden;
        opacity: 0;
        transform: translateX(50px);
    }
}

@include screen-425 {
    header > nav {
        top: 5.46rem; // Hard coded value depending on header offset height
        left: auto;
        right: 1rem;
        border-radius: 0.5rem;
        width: 10rem;
        min-height: auto;
        max-height: calc(
            100dvh - 6.46rem
        ); // Hard coded value depending on header offset height
        background-color: hsl(17, 79%, 58%, 0.95);
        display: block;
        transform: translateY(-10px);

        &::-webkit-scrollbar {
            background-color: $dark-orange;
            width: 4px;

            &-thumb {
                background-color: $main-light;
            }
        }

        &.show-discover {
            > .header-nav-default {
                visibility: visible;
                opacity: 1;
                transform: translateX(0);
            }
        }

        > div {
            display: none;
        }

        > section {
            position: static;
            padding: 0;
            align-items: flex-start;
            gap: 0;
            visibility: visible;
            opacity: 1;
            transform: translateX(0);

            > a {
                font-size: 1.1rem;
                font-weight: 400;
                text-align: start;
                color: $main-light;
                padding: 0.7rem;
                width: 100%;

                &:hover {
                    background-color: hsl(0, 0%, 100%, 0.1);
                }
            }

            > button {
                display: none;
            }

            > p {
                font-size: 0.75rem;
                margin-top: 0.8rem;
                margin-bottom: 0.2rem;
                margin-left: 0.7rem;
                display: block;
            }
        }

        .header-nav-discover {
            visibility: visible;
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@include screen-768 {
    header > nav {
        top: 6.16rem; // Hard coded value depending on header offset height
        right: 1.5rem;
        max-height: calc(
            100dvh - 7.66rem
        ); // Hard coded value depending on header offset height
    }
}
