$font-family: "Inter", sans-serif;

$small-p: 1rem;
$big-p: 1.15rem;

$yellow: #f9ef11;
$light-orange: #ea9828;
$dark-orange: #e86f40;
$light-gray: #1b1b1b;
$dark-gray: #050505;

$main-light: #f3f3f3;
$main-dark: #1b1b1b;
