@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "variables", "responsive", "Header", "Search", "HeaderNav", "Home", "List", "Pagination",
    "Entity", "About", "Footer";

::-webkit-scrollbar {
    background-color: $main-light;
    width: 12px;

    &-thumb {
        background-color: $dark-orange;
    }
}

*,
*::before,
*::after {
    word-break: break-word;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus-visible {
    outline: 1px solid $light-orange;
    outline-offset: 1px;
}

body {
    font-family: $font-family;
    color: $main-dark;
    background-color: $main-light;
    min-width: 100%;
    min-height: 100lvh;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &.dark {
        color: $main-light;
        background-color: $main-dark;
        background-image: radial-gradient($light-gray, $dark-gray);
        background-attachment: fixed;
    }
}

main {
    width: 100%;
    max-width: 1400px;
    padding: 1rem;
    align-self: center;
}

@include screen-768 {
    main {
        padding: 1.5rem;
    }
}

ul {
    list-style: none;
}

button {
    font-size: 1rem;
    text-align: center;
    color: $main-light;
    background-color: $dark-orange;
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
}

@include screen-425 {
    button {
        font-size: 1.1rem;
        border-radius: 0.6rem;
    }
}

.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > h1 {
        text-align: center;
    }

    > img {
        border-radius: 25px;
        width: 400px;
        max-width: 100%;
        height: auto;
        margin-top: 5rem;
    }
}
